html,body{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bg{
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 98%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
}

.card-bg{
    width: 100%;
    height: auto;
}

.card-slide{
    position: relative;
    transition: all 0.3s linear;
    transform: scale(0.9);
    margin-bottom: 20%;
}

.card-slide.active{
    transform: scale(1);
}

.card-slide.active .card-slide-open{
    display: none;
}

.card-slide.active.opening{
    display: none !important;
}

.card-slide.active .card-slide-buttons{
    display: flex !important;
}

.card-slide.disable{
    opacity: 0.2;
}

.card-slide.hidden{
    opacity: 0 !important;
}

.card-slide.opening{

}

.card-slide.opening .card-slide-logo,
.card-slide.opening .card-quantity{
    display: none;
}

.card-wrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 87%;
    overflow-x: clip;
}

.card-slide-bg{
    width: 100%;
    height: auto;
}

.card-slide-border{
    position: absolute;
    top: 51.3%;
    left: 50%;
    height: 51.2%;
    transform: translate(-50%,-50%);
    z-index: 4;
    transition: all 0.5s ease-in-out;

    display: none;
}

.card-slide-content{
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.card-slide-logo{
    width: 50%;
    margin-top: 20%;
}

.card-quantity{
    background: url(../images/Quantity.png) no-repeat center center;
    background-size: contain;
    margin-top: 20px;
    padding: 20px 40px;
    color: #74C2D2;
    font-weight: 700;
}

.card-slide-open{
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s ease;
    transform: translate(-50%,0%);
}

.card-slide-open:hover{
    cursor: pointer;
    transform: translate(-50%,0%) scale(0.95);
}

.card-prev{
    position: absolute;
    width: 8.5%;
    top: 50%;
    left: 0.2%;
    cursor: pointer;
    z-index: 10;
}

.card-next{
    position: absolute;
    width: 8.5%;
    top: 50%;
    right: 0.1%;
    z-index: 10;
    cursor: pointer;
}

.card-slide-buttons{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.card-slide-opeing{
    width: 45%;
    transition: all 0.5s linear;
}

.card-slide-open-confirm{
    width: 150px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    display: none;
    transition: all 0.5s ease;
}

.card-slide-open-confirm:hover{
    cursor: pointer;
    transform: scale(0.95) translate(-50%,-50%);
}

.button-hover{
    transition: all 0.5s ease;
    z-index: 10;
}

.button-hover:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card-award{
    position: absolute;
    top: 32.7%;
    left: 50%;
    width: 88.6%;
    height: 20%;
    transform: translateX(-50%);
    z-index: 3;
    overflow-x: auto;
    display: none;
    transition: all 0.5s ease-in-out;
}

.card-award::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 35%;
    /* background-color: red; */
    background-image: linear-gradient(90deg, #232E41 0%, rgba(52, 73, 94, 0.88) 91%);
    z-index: 12;
}

.card-award::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    width: 35%;
    /* background-color: red; */
    background-image: linear-gradient(90deg, rgba(52, 73, 94, 0.88) 0%,#232E41  91%);
    z-index: 12;
}


.card-award-item,
.card-award-wrapper{
    height: 100%;
}

.card-award-wrapper{
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card-award::-webkit-scrollbar {
  display: none;
}

.card-award-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-award-item-bg{
    height: 100%;
    width: auto;
}

.card-award-item-value{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: system-ui;
    font-weight: 800;
}


.card-award-wrapper.active{
    animation : opening 3s ease-in-out forwards;
    animation-timing-function: cubic-bezier(0.4,1,0.001,0.8);
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
}


#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:55%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

.card-award-item-bg.active{
    animation: award-active 2s linear infinite alternate;
}

/* ANIMATION */
@keyframes opening {
    0% {
        
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes award-active {
    0% {
        
    }
    100% {
        transform: scale(0.9);
        filter: drop-shadow(5px -1px 5px #9ADCF9);
    }
}

/* RESPONSIVE */

@media (max-width: 1023px){
    .card-slide{
        margin-bottom: 0;
    }

    .card-quantity{
        padding: 10px 30px;
        font-size: 14px;
    }

    .card-prev,
    .card-next{
        width: 12%;
    }

    .card-slide.active {
        transform: scale(0.9) translateY(-6%);
    }

    .card-slide-open-confirm{
        width: 80px
    }

    .card-award-item-value{
        font-size: 10px
    }
}